/* 可以根据个人喜好自行修改样式 */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1rem;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

main {
	margin-top: 2rem;
	display: flex;
}

#directory-tree {
    flex-basis: 25%;
    padding: 1rem;
    background-color: #eee;
    border: solid 1px #ccc;
}

#directory-tree ul {
    margin-left: 1rem;
}

#directory-tree a {
    display: inline-block;
    margin-right: 0.5rem;
    color: #333;
    text-decoration: none;
}

#directory-tree a:hover {
    text-decoration: underline;
}

#website-list
