* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.header {
  width: 100%;
  font-size: 24px;
  text-align: center;
  padding: 1rem;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar {
  width: 200px;
  height: 100%;
  border-right: 1px solid #ddd;
  padding: 1rem;
}
.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.sidebar button:hover {
  background-color: #ddd;
}
.sidebar ul {
  list-style: none;
  margin-top: 1rem;
}
.sidebar li {
  margin-bottom: 1rem;
}
.main {
  flex-grow: 1;
  padding: 1rem;
}
.main button {
  padding: 0.5rem;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.main button:hover {
  background-color: #ddd;
}
.main ul {
  list-style: none;
  margin-top: 1rem;
}
.main li {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.main .btn-group {
  display: flex;
}
.main .btn-group button {
  margin-left: 0.5rem;
}
